/* 
  Переменные для цветов макета, пример использования:
  
  .someClass {
    background-color: var(--gold);
  }
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --header-dark: #2E323F;
  --dark: #3B4050;
  --light: #F1F1F1;
  --gold: #A59678;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

header {
  background-color: var(--header-dark);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;
}

ul {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  width: 100%;
}

.header>ul {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 48px 24px;
}

.hero-wrapper {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px
}

.hero-wrapper>h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

.hero-wrapper>div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  line-height: 24px;
}

button {
  background-color: var(--gold);
  color: var(--light);
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: center;
  padding: 48px 24px;
  background-color: var(--light);
}

.features-wrapper {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.features-wrapper>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.features-wrapper>div>h3,
.boost>h3 {
  color: var(--gold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.features-wrapper>div>p {
  text-align: center;
  line-height: 24px;
}

.article {
  display: flex;
  justify-content: center;
  padding: 48px 24px;
}

.article-wrapper {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.boost {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.boost>h3 {
  margin-bottom: -16px;
}

.boost>p {
  font-size: 18px;
  line-height: 28px;
}

.article-wrapper>div>img {
  max-width: 100%;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  gap: 24px;
}

.advantages>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
  width: 312px;
  padding: 32px;
}

.advantages>div>h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px
}

.advantages>div>p {
  text-align: center;
  line-height: 24px;
}


footer {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 72px 24px;
}

.footer {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.footer>h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.info>div>p {
  max-width: 373px;
  min-width: 312px;
  line-height: 24px;
}

.info>div,
.info>div>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.info>div>ul {
  line-height: 24px;
}

.info>div>h3 {
  font-size: 18px;
  line-height: 24px;
  color: var(--gold)
}

@media (min-width:768px) {
  header {
    padding: 16px 64px;
  }

  .header {
    justify-content: flex-end;
  }

  .hero,
  .features,
  .article {
    padding: 64px 64px;
  }

  .article-wrapper {
    justify-content: center;
  }

  .hero-wrapper>h2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
  }

  .hero-wrapper>div {
    gap: 32px;
  }

  footer {
    padding: 72px 64px;
  }

  .footer>h2 {
    font-size: 48px;
    line-height: 64px;
  }

  .info {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .info>div {
    justify-content: space-between;
  }
}


@media (min-width:1024px) {
  .hero {
    padding: 128px 64px;
  }

  .hero-wrapper {
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }

  .hero-wrapper>h2,
  .hero-wrapper>div {
    width: 50%;
  }

  .hero-wrapper>h2 {
    padding: 0 35px;
  }

  .hero-wrapper>div {
    padding: 40px 80px;
  }

  .features-wrapper {
    flex-wrap: nowrap;
    gap: 123px;
  }

  .article-wrapper {
    flex-wrap: nowrap;
  }

  .advantages {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width:1440px) {
  .hero-wrapper>h2 {
    padding: 0 71px;
  }

  .hero-wrapper>div {
    padding: 40px 161px;
  }

  .info {
    flex-wrap: nowrap;
  }
}